@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.bod{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    
    background-color: #E9C1F6;
    display: flex;
    flex-direction: row;
    
    margin-top: -9vh;
}
.gif{
    overflow: hidden;
    background-repeat: no-repeat;
}
.im{
    position: relative;
    width: 33vw;
    height: 70vh;
   
    overflow: hidden;
    background-repeat: no-repeat;
   
    background: url(../../assets/gif/signbg.gif);
}


.container{
    position: relative;
    width: 50vw;
    height: 70vh;
    
    overflow: hidden;
    
}

.card1_bg{
    
    position: absolute;
    width: 50vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: rgba(255, 255, 255, 0.219);
    box-shadow: rgba(255, 255, 255, 0.219);
    
    border-radius: 20px;
}

.card1_bg .card{
    position: relative;
    width: 50vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



.card1_bg .card button{
    cursor: pointer;
    background: white;
    color: black;
   
    font-size: medium;
    font-weight: lighter;
    border-radius: 20px;
    border: none;
}

.signin_form_card{
    
    width: 25vw;
    height: 70vh;
    background-color: white;
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 4vh;
    flex-direction: column;
    
    transition: 0.5s, ease-in-out;
    
    transform: translateX(0%);
}

.slider1{
    display: flex;
    transform: translateX(-50%);
    transition: transform 1.5s ease-in-out;

}

.slider1slide{
    transform: translateX(50%);
      
}

.signin_title{
    font-size: 250%;
}
.signup_title{
    font-size: 250%;
}


.inputfield input {
    
    width: 20vw;
    height: 3.5vh;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    color: rgb(0, 0, 0);
    font-size: 70%;
    border-radius: 10px;
    background-color: rgba(221, 160, 221, 0.685);
    border-color: black;
    border-width: 1px;
    
}

.container .signin_form_card button{
    cursor: pointer;
    background: purple;
    color: white;
    font-size: medium;
    font-weight: lighter;
    border-radius: 20px;
    border: none;
}
.container .signup_form_card button{
    cursor: pointer;
    background: purple;
    color: white;
    font-size: medium;
    font-weight: lighter;
    border-radius: 20px;
    border: none;
}

.alert{
    width: 20vw;
    font-size: 80%;
    padding: 0;
    color: black;
    background-color: rgb(243, 91, 91);
    border-radius: 20px;
}



@media screen and (max-width:600px) {
    .bod{
        display: flex;
        flex-direction: column;
    }
    .im{
        position: relative;
        width: 90vw;
        height: 70vh;
       
        overflow: hidden;
        
        background: url(../../assets/gif/signbg.gif);
    }
    .container{
        position: relative;
        width: 90vw;
        height: 70vh;
        
        overflow: hidden;
        margin-top: -16%;
       
    }
    
    .card1_bg{
        
        position: absolute;
        width: 90vw;
        height: 70vh;
        display: flex;
        justify-content: center;
        align-items: center;
        
        background-color: rgba(255, 255, 255, 0.219);
        box-shadow: rgba(255, 255, 255, 0.219);
        
        border-radius: 20px;
    }
    
    .card1_bg .card{
        position: relative;
        width: 90vw;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .card1_bg .card button{
        cursor: pointer;
        background: white;
        color: black;
        
        font-size: medium;
        font-weight: lighter;
        border-radius: 20px;
        border: none;
    }
    
    .signin_form_card{
       
        width: 45vw;
        height: 70vh;
        background-color: white;
        
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        line-height: 4vh;
        flex-direction: column;
       
        transition: 0.5s, ease-in-out;
        
        transform: translateX(0%);
    }
    
    .slider1{
        display: flex;
        transform: translateX(-50%);
        transition: transform 1.5s ease-in-out;
    
    }
    
    .slider1slide{
        transform: translateX(50%);
           
    }
    
    .signin_title{
        font-size: 250%;
    }
    .signup_title{
        font-size: 250%;
    }
    
    .inputfield input {
        
        width: 40vw;
        height: 3.5vh;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: rgb(0, 0, 0);
        font-size: 70%;
        border-radius: 10px;
        background-color: rgba(221, 160, 221, 0.685);
        border-color: black;
        border-width: 1px;
        
    }
    
    .container .signin_form_card button{
        cursor: pointer;
        background: purple;
        color: white;
        font-size: medium;
        font-weight: lighter;
        border-radius: 20px;
        border: none;
    }
    .container .signup_form_card button{
        cursor: pointer;
        background: purple;
        color: white;
        font-size: medium;
        font-weight: lighter;
        border-radius: 20px;
        border: none;
    }
    
    .alert{
        width: 40vw;
        font-size: 80%;
        padding: 0;
        color: black;
        background-color: rgb(243, 91, 91);
        border-radius: 20px;
    }
    
    
}
