<!-- <p>signin works!</p> -->
<div class="bod">
    <div class="container">
        <div class="card1_bg">
            <div class="card signin" style="font-size: large;">
                <strong>Alredy have an Account??</strong>
                <button class="signin_btn" (click)="move()">Sign IN</button>
            </div>
            <div class="card signup" style="font-size: large;">
                <strong>Don't have an Account??</strong>
                <button class="signup_btn" (click)="move()">Sign UP</button>
            </div>
        </div>
        
        <div class="slider1" [ngClass]="{
          slider1slide: !login
        }"
           >
            <div class="signin_form_card">
                <form [formGroup]="formreg"  class="signupform">
                    <div class="inputfield">
                        <div class="signup_title">
                            <strong style="font-family: 'Pacifico', cursive;">Create Account</strong>
                        </div>
                        <p>Register using your Account</p>
                        <p style="font-weight: bolder; font-size: 4vh;">OR</p>
                        <div *ngFor="let x of signupdata" class="inputfield">
                            <div *ngIf="x.type != 'dropdown'">
                              <input
                                placeholder="Enter {{ x.placeholder }}"
                                formControlName="{{ x.formname }}"
                                type="{{ x.type }}"
                              />
                              <div
                                *ngIf="
                                  formregget(x.formname).invalid &&
                                  (formregget(x.formname).dirty ||
                                    formregget(x.formname).touched)
                                "
                                class="alert alert-danger"
                              >
                                <div *ngIf="formregget(x.formname).errors?.required">
                                  {{ x.formname }} is required.
                                </div>
                                <div *ngIf="formregget(x.formname).errors?.pattern">
                                  {{ x.patternerror }}
                                </div>
                              </div>
                              <div
                                *ngIf="
                                  formreg.hasError('notSame') &&
                                  x.formname == 'confirmpassword' &&
                                  !formregget('confirmpassword').errors?.required
                                "
                                class="alert alert-danger"
                              >
                                Passwords don't match
                              </div>
                            </div>
                        </div>
                    </div>
                    <div class="signup_bttn" (click)="submit()">
                        <button>Sign UP</button>
                    </div>
                    </form>
                </div>
               
                
            
            <div class="signin_form_card">
            <form
                [formGroup]="formlogin"
                
                class="signupform l">
                <div class="inputfield">
                <div class="signin_title">
                    <strong style="font-family: 'Pacifico', cursive;">Sign IN</strong>
                </div>             
                <p>or use your Account</p>
                <div *ngFor="let x of signindata" class="inputfield">
                    <div class="inputlabel">{{ x.placeholder }}</div>
                    <input
                      placeholder="Enter {{ x.placeholder }}"
                      formControlName="{{ x.formname }}"
                      type="{{ x.type }}"/>
                    <div
                      *ngIf="
                        formlog(x.formname).invalid &&
                        (formlog(x.formname).dirty || formlog(x.formname).touched)
                      "
                      class="alert alert-danger">
                      <div *ngIf="formlog(x.formname).errors?.required">
                        {{ x.formname }} is required.
                      </div>
                      <div *ngIf="formlog(x.formname).errors?.pattern">
                        {{ x.patternerror }}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="login_btn" (click)="submit()">
                    <button>Log IN</button>
                </div> 
            </form>
            </div>
    </div>
</div>
</div>


