<div class="wave">Tracker</div>
<div class="custom-shape-divider-top-1644313685">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path
            d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z"
            opacity=".25" class="shape-fill"></path>
        <path
            d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z"
            opacity=".5" class="shape-fill"></path>
        <path
            d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z"
            class="shape-fill"></path>
    </svg>
</div>
<div class="main" *ngIf="!painboolean">

    <div class="box">
        <div class="periodtrack">

            <div class="formclass">
                <form [formGroup]="userprofileForm" (ngSubmit)="onSubmit()">

                    <label>
                        Date: <input type="date" formControlName="date">
                    </label>
                    <label>
                        Flow: <input type="number" min="1" max="10" formControlName="flow">
                    </label>
                    <label>
                        Cycle: <input type="number" min="1" max="28" formControlName="cycle">
                    </label>
                    <button class="btn6" type="submit">Track Now</button>
                </form>
            </div>

            <div class="trackcol">
                <div class="per">
                    <div class="col"></div>
                    <div class="nam">Current Day</div>
                </div>
                <div class="per">
                    <div class="col1"></div>
                    <div class="nam">Period Days</div>
                </div>
                <div class="per1">
                    <div class="col2"></div>
                    <div class="nam1">Ovulation Days</div>
                </div>
                <!-- <div class=""></div> -->
            </div>


        </div>
        <div class="calender">
            <div class="head">
                <div class="month">
                    <div class="year">{{this.months[this.month]}} ,2022</div>
                </div>
                <div class="adjust"></div>
                <div class="arrows">
                    <div class="arrow1" (click)="move('b')">&larr;</div>
                    <div class="arrow2" (click)="move('f')">&rarr;</div>
                </div>
            </div>
            <div class="days">
                <div class="name" *ngFor="let days of days">{{days}}</div>
            </div>
            <div class="grid">
                <div class="five" *ngFor="let week of [0, 1, 2, 3, 4] ">
                    <div class="seven " *ngFor="let day of [0, 1, 2, 3, 4, 5, 6]">
                        <div (click)="getperioddata(week,day);"
                            [ngClass]="{
                        mark:iscurrent(week, day), periodmark: isCycle(week, day), ovulationmark: isOvulation(week, day) }">{{daysofweek(week, day) }}
                            <br />
                            <div *ngIf="daysofweek(week, day)!='' " (click)="makingbooleantrue(week,day);"> &hearts;
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="inp1">
                <div class="inp3">Track of your recorded Health!</div>
                <div class="inp">
                    <div class="dat">{{getperioddatadate}}</div>
                    <div class="msg">{{getperioddatastring}}</div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="form2" *ngIf="painboolean">

    <div class="frm">
        <div class="adjust1">
            <div class="title1">How was your health today?</div>
            <div class="cross" (click)="makingbooleanfalse()">&#10005;</div>
        </div>
        <div class="frm2">
            <div class="adjust2">
                Keep a track of your body ache, cramps etc. in the box below!
                <form [formGroup]="userForm" (ngSubmit)="onFormsubmit()">

                    <label>
                        <input type="text" formControlName="pain" style="height:4vh ; width:35vh">
                    </label>
                    <button class="btn5" type="submit" style="height:5vh ; width:15vh">submit</button>

                </form>
            </div>
        </div>
    </div>

</div>