 
 <div class="full">

     <div class="top">Products</div>
    <div class="product">
         <div class="two" *ngFor="let rows of [0,1]"> 
           <div class="four" *ngFor="let columns of [0,1,2,3]" >
               
                    <div class="content">
                         <div class="grid">
                            <figure class="effect-sadie">
                                <img class="pic" src="../../assets/images/menstural cup.jpg" >
                                <figcaption>
                                    <h2>Menstural Cup </h2>
                                    <p>Sadie never took her eyes off me. <br>She had a dark soul.</p>
                                    <a href="https://codepen.io/mattlansom/pen/MwLKOM">View more</a>
                                </figcaption>			
                            </figure> 
                            
                        </div> 
                        <div class="kri">
                           <div class="amount">&#8377; 250</div> 
                           <div class="b"><button>Buy Now</button></div>
                        </div> 
                    </div>
                    