<!-- <p>product works!</p> -->
<div class="full">
    <div class="page">
        <div class="top"></div>
        <div class="product">
            <div class="rect">  1
                <div class="card">
                    <div class="name" *ngFor="let card of [0,1,2,3]">
                        <div class="item"></div>
                    </div>
                </div>
            </div>
            <div class="space"></div>
            <div class="rect">  2
                <div class="card">
                    <div class="name" *ngFor="let card of [0,1,2,3]">
            </div>
            
                
            
        
    </div>
</div>