.main {
    margin : 0;
    padding : 0;
    height :100vh;
    width : 100vw;
    // background-color: #e9c1f6;
}

.title
{
    height :5vh;
    width : 100%;
    background-color: aquamarine;
    z-index: 1000;
}

.ani
{
    height : 58vh;
    width : 100%;
    align-items: center;
    overflow: hidden;
    // background-color:a;



}
.girl{
    font-size:15px;
    line-height:15px;
    // height: 68vh;
    // width : 80%;
    // margin-top:-6vh;
    // border: black;
    
    // border-style: dotted;
    margin-top: -17vh;
    // z-index: -1;
    // background-color:brown;
    // padding-top: -40%;
    background : url(https://media.giphy.com/media/41x8G9RQjdKSKbO7it/giphy.gif) ;
    // background-size: 50% 120%;
    // background-size: 450px;
    // background-attachment: fixed;
    // background-position:center;
    // background-repeat:no-repeat;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255 ,255, 0);
    font-weight: 520;
     mix-blend-mode: darken;
    // margin-left: 2vh;
   
}



.content {
    width:100%;
    display: flex;
    flex-direction: row;
}

.list
{
    width:35%;
    height:100vh;
    background-color:cadetblue;
}



.blog 
{
    height: 18vh;
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin-bottom: 2vh;
    cursor: pointer;
    background-color:bisque;
}

.pic
{
  height: 18vh;
  width: 55%;
  background-color: chocolate;
}

.info
{
    height: 18vh;
    width:45% ;
    background-color: darkorchid;
}

.blog:hover{
    background-color: rgba(0, 0, 0, 0.05);
    box-shadow: 2px 2px 2px silver;
}

.description
{
    width:65%;
    // height:100vh;
    display: flex;
    align-items:center;
    flex-direction: column;
    background-color:burlywood;
}

.tit
{
    height:7vh;
    width: 100%;
    background-color: crimson;
}

.pics
{
    height:35vh;
    width:50%;
    text-align: center;
    align-items:center;
    background-color: rgb(135, 222, 150);
}

.des
{
    height:50vh;
    width: 100%;
}