<div class = "coverpage">
    <div class="bg-image"><img src="https://giphy.com/gifs/woman-women-blood-cdICHA6rKm3eXicQfJ"></div>
    <div class="sent-gen">
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">
            
        </script> -->
    </div>
</div>
<br>
<div class = "about-us">
    <div class = "title-about">
        About Us
    </div>
    <div class="body-about">
        We at ‘woMEn Corner’ focus on reaching out to as many women as possible. In this 21st century, most of the female come under working population, who are quite busy with their professional life and hardly have sometime to focus on themselves. A lot of girls suffering from PCOD/PCOS don’t even realize what they are going through. All this is because we don’t consider visiting a gynecologist for a routine check-up and why so? Hence, we decided to build a safe space for exploring, discussing, spreading awareness, bursting myths and so much more! <br>
        "WoMEn CORNER" will create and carry out a calendar and period tracker for every one of the young ladies with a goal of keeping them from passing up a great opportunity the track of their periods. Further, we are likewise going to share a few blogs and recordings about the connected stuff to spread mindfulness among individuals, people and young ladies to build the radii of our span.
    </div>
</div>

    <div class="container">
        <div class="creater">Creaters</div>
        <br>
        <div class="catalogue">
            <div class="card">
                <div class="name">
                    <div class="image"></div>Krithika S.
                    <div class="intro">Full-stack developer and an open-source enthusiast</div>
                </div>
            </div>
            <div class="card">
                <div class="name">
                    <div class="image"></div>Tanvee Joshi
                    <div class="intro">A problem solver and an upcoming Back-End Developer</div>
                </div>
            </div>
            <div class="card">
                <div class="name">
                    <div class="image"></div>Preethika K.
                    <div class="intro">A passionate designer and Front-End Developer</div>
                </div>
            </div>
            <div class="card">
                <div class="name">
                <div class="image"></div>Tanvi Mantri
                <div class="intro">An enthusiast with major interest in Management and Front-End Development</div>
            </div>
            </div>
        </div>
    </div>
<br>
<br>
<div class="container">
    <div class="reviews">Reviews By our Users</div>
    <div class="catalogues">
        <div class="user1">
            <div class="img-usr"></div>
            <div class="rvw-usr">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab obcaecati nostrum atque architecto doloribus nulla qui hic id quod voluptas sequi facere eaque eius incidunt voluptate nemo magni, beatae illo!</div>
        </div>
        <br>
        <div class="user2">
            <div class="img-usr"></div>
            <div class="rvw-usr">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab obcaecati nostrum atque architecto doloribus nulla qui hic id quod voluptas sequi facere eaque eius incidunt voluptate nemo magni, beatae illo!</div>
        </div>
    </div>

</div>